body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #ebe7a1;
  padding: 20px;
}
.navbar {
  background-color: #ebe7a1 !important;
}

.list-group-item {
  text-align: center;
  font-weight: bold;
  background-color: #c07878;
  border: 1px solid #ddd;
  min-width: 200px; /* Ensures list items have equal width */
}

.list-group-item button {
  background-color: #ebe7a1; /* Pokémon yellow */
  border: none;
  color: black;
}

.list-group-item button:hover {
  background-color: #ff9900;
}
